<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Form Page</title>
	</head>
	<body>
		<br>
			<h1>REGISTRATION PAGE</h1>

			<form method="POST" action="">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="REGISTER">
			</form>
			
			<!-- <br><br>
			
			{% if form_data %}
				<h2>Submitted Data</h2>
				<p> First Name: {{ form_data.First_Name }}</p>
				<p> Last Name: {{ form_data.Last_Name }}</p>
				<p> User Name: {{ form_data.User_Name }}</p>
				<p> Email ID: {{ form_data.Email_ID }}</p>
				<p> Password: {{ form_data.Password }}</p>
				<p> Course: {{ form_data.Course }}</p>
				<p> Age: {{ form_data.Age }}</p>
				<p> Date of Birth: {{ form_data.Date_of_Birth }}</p>
				<p> Gender: {{ form_data.Gender }}</p>
				<p> Address: {{ form_data.Address }}</p>
			{% endif %} -->
	</body>
</html>
